.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 1rem 2rem #00000025;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  /* margin-bottom: 2rem; */
  z-index: 100;

  border-bottom: 2px solid #e1e1e1;
}
.navbar ul {
  display: flex;
  gap: 2rem;
}
.navbar li a {
  display: flex;
  padding: 1rem;
  /* border-radius: 0.6rem; */
  border: 2px solid transparent;
  transition: all 0.2s;
}

.navbar svg {
  font-size: 4.2rem;
  color: #666;
}
.active {
  border-bottom: 4px solid #28d411 !important;
}
