.appLayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(20rem, 35rem) minmax(40rem, 1fr);
  grid-template-rows: 1fr;

  grid-gap: 2rem;
  background-color: white;
  padding: 2rem;
}
