.navbar {
  background-color: lightgoldenrodyellow;
  height: 10rem;
}

.navbar ul {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.navbar li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  color: #333333;
  font-size: 1.6rem;
  border: 1px solid;
}
.navbar a {
  flex: 1;
  width: 100%;
  text-decoration: none;
  padding: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid transparent;
  color: #333333;
}
.active {
  filter: contrast(120%);
  border-bottom: 6px solid darkblue !important;
}

.inactive {
  background-color: white;
}
